<fieldset>
    <legend>{{camCtrl.title}} ({{camCtrl.platform}})</legend>
    
    <p>
        <label>Размер:
            <select ng-model="camCtrl.options.dimension">
                <option ng-repeat='dim in camCtrl.dimensions'>{{dim}}</option>
            </select>
        </label>
        <span> (сейчас: {{camCtrl.options.dimension}})</span>
    </p>

    <p><img 
        id='photo' 
        alt='photo will be here' 
        ng-src="{{camCtrl.photo_src}}" 
        ng-show="camCtrl.photo_src!==''" 
    ></p>
    
    <p><button 
        id='photo_button' 
        ng-click="camCtrl.takeAPhoto()" 
    >Take a photo</button></p>
</fieldset>