.cordova-camera-capture {
    position: absolute !important;
    z-index: 100;
    left: 20%;
    top: 20%;
}

.cordova-camera-capture BUTTON,
.cordova-camera-capture VIDEO
{
	clear: both !important;
}