<img id='photo' alt='photo will be here' ng-src="{{camCtrl.photo_src}}" ng-show="camCtrl.photo_src!==''">

<div id='info' class='over'>
    <ul>
        <li>{{camCtrl.title}}</li>
        <li>{{camCtrl.platform}}</li>
    </ul>
</div>

<div id='options' class='over'>
    <label>Размер:
        <select ng-model="camCtrl.options.dimension">
            <option ng-repeat='dim in camCtrl.dimensions'>{{dim}}</option>
        </select>
    </label>
    <div> (сейчас: {{camCtrl.options.dimension}})</div>
</div>

<button id='photo_button' class='over' ng-click="camCtrl.takeAPhoto()">Сфотать</button>
