<fieldset>
    <legend>{{camCtrl.title}} ({{camCtrl.platform}})</legend>
    
    <!-- <p><input type='text' ng-model='camCtrl.platform'></p> -->

    <!-- <p>
        <select ng-model="camCtrl.options" ng-options="item for item in names"></select>
    </p> -->
    
    <p><img 
        id='photo' 
        alt='photo will be here' 
        ng-src="{{camCtrl.photo_src}}" 
        ng-show="camCtrl.photo_src!==''" 
    ></p>
    
    <p><button 
        id='photo_button' 
        ng-click="camCtrl.takeAPhoto()" 
    >Take a photo</button></p>
</fieldset>