* { margin: 0px; padding: 0px; }

.float {
    position: absolute;
    z-index: 10;
}

#device {
    left: 5%;
    top: 2%;
}

#options {
    left: 5%;
    top: 5%;
}

/*#photo_place {
    width: 100%;
    height: 400px;
    background-color: Khaki;
    text-align: center;
}*/

#photo {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#photo_button {
    bottom: 10%;
    left: 25%;
    width: 50%;
    height: 10%;
}
